<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="padding: 1%;">
      <div style="padding-bottom: 25%;padding-left: 5%;display: flex;"><p class="heading">@</p><p class="headingName">simplify</p></div>
      <div style="padding-left: 5%;">
        <p class="title" style="color: #717171;">
          Simplify your Hiring
        </p>
        <p class="description">
          Get your TASKS, JOBS and OPEN VACANCIES completed faster!<br>
          Equip your business with a TALENT PORTAL to discover a smarter way to source talent.
        </p>
        <div class="md-form md-outline" style="display: flex;">
          <input type="text" id="form1" class="form-control">
          <label for="form1">Schedule Demo</label>
          <button type="button" class="btn btn-primary">Submit</button>
      </div>
      </div>
    </div>
    <div class="col-md-6 firstImg">
      <img class="image" src="../assets/photo3.jpg">
      <div class="platform">
        Platform
      </div>
      <div class="partner">
        Partner
      </div>
      <div class="tour">
        Take a Tour
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="image" src="../assets/photo1.jpg">
    </div>
    <div class="col-md-6 text">
      <p class="title">
        Get the fastest time to hire
      </p>
      <p class="description">
        Simplify VMS cuts time-to-hire. Build a talent pool that brings
        instant-access to suitable full-time and temporary candidates.
        Publish job vacancies to all of the major job sites to broaden your
        reach — and access a GLOBAL CANDIDATE WAREHOUSE that
        offers thousands of pre-vetted technical, professional and
        scientific candidates.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 data">
      <p class="title" style="color: #575556;">
        Integrate with the systems you care about
      </p>
      <p class="description">
        Simplify VMS offers more than a traditional VMS. Ours is a modern cloud-based
        talent portal you can use to resource work on-demand. Deployed on a secure
        private-cloud for each of our customers, it offers the maximum potential for a
        innovation with integration with IT systems and third-party
        best-of-breed tools.
      </p>
    </div>
    <div class="col-md-6">
      <img class="image" src="../assets/photo2.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" style="background-color: #577c7d;padding: 5% 7%;">
      <img src="../assets/1111.png" style="margin: 0% 30%;">
      <p class="titleText">
        Introducing an Al-Enabled Vendor Management System(VMS)
      </p>
      <p class="desc">
        Learn about your talent pool with
        Simplify VMS, software that's easy to
        use and faster to deploy. Use Artificial
        Intelligence to identify
        inconsistencies faster, filter CV's more
        accurately, prevent recruitment bias
        and leverage natural language
        search...
      </p>
      <div style="display: flex;margin: 9% 23%;">
        <div>
          <svg class="arrow" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </div>
        <b style="margin-left: 6%;">READ MORE</b>
      </div>

    </div>
    <div class="col-md-4" style="background-color:  #c12c27;padding: 5% 7%;">
      <img src="../assets/112.png" style="margin: 0% 30%;">
      <p class="titleText">
        Get into Direct Sourcing and Slash Your Indirect Hire Costs
      </p>
      <p class="desc">
        Adopt Simplify VMS and build your
        own direct route to the talent market.
        Create an intelligent job board, and
        progressively start to grow a pool of
        relevant and pre-qualified candidates
        for your future roles. Experience
        recruiting without the cost and
        hassle.
      </p>
      <div style="display: flex;margin: 9% 23%;">
        <div>
          <svg class="arrow" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </div>
        <b style="margin-left: 6%;">READ MORE</b>
      </div>

    </div>
    <div class="col-md-4" style="background-color: #2e3857;padding: 5% 7%">
      <img src="../assets/113.png" style="margin: 0% 30%;">
      <p class="titleText">
        Get Tasks and Jobs Done by Accessing the Gig Economy
      </p>
      <p class="desc">
        Over 40% of the US labor force is
        made-up of contingent (gig) workers.
        No surprise businesses want to tap
        into this agile workforce. With
        Simplify VMS software recruiters
        access full-time and gig workers
        through the same tool. Groovy'!
      </p>
      <div style="display: flex;margin: 9% 23%;">
        <div>
          <svg class="arrow" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </div>
        <b style="margin-left: 6%;">READ MORE</b>
      </div>

    </div>
  </div>
  <!-- Footer -->
  <div class="row">
    <div class="col-md-12" style="background-color: #222222 !important;">
      <footer class="page-footer font-small pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <img class="footerImg" src="../assets/footerImage.png">

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->

              <ul class="list-unstyled">
                <li>
                  <a href="#!">THE PLATFORM</a>
                </li>
                <li>
                  <a href="#!">WHY SWITCH</a>
                </li>
                <li>
                  <a href="#!">PARTNER WITH US</a>
                </li>
                <li>
                  <a href="#!">DIVERSITY</a>
                </li>
                <li>
                  <a href="#!">TAKE THE TOUR</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->

              <ul class="list-unstyled">
                <li>
                  <a href="#!">USA - Headquaters</a>
                </li>
                <li>
                  <a href="#!">CANADA</a>
                </li>
                <li>
                  <a href="#!">INDIA</a>
                </li>
                <li>
                  <a href="#!">EUROPE</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

              <!-- Links -->

              <ul class="list-unstyled">
                <li>
                  <a href="#!">ABOUR</a>
                </li>
                <li>
                  <a href="#!">INFORMATION</a>
                </li>
                <li>
                  <a href="#!">WEBINARS/EVENTS</a>
                </li>
                <li>
                  <a href="#!">LEADERSHIP</a>
                </li>
                <li>
                  <a href="#!">SUBSCRIBE</a>
                </li>
                <li>
                  <a href="#!">PRIVACY POLICY</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <div class="row" style="background-color: black;">
          <div class="col-md-6 text-center">
            <div class="footer-copyright py-3 copyright">Copyright Simplify Workspace 2020
            </div>
          </div>
          <div class="col-md-6 text-center">
            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
              <li class="list-inline-item icons" style="margin-left: 38%;">
                <a class="btn-floating btn-fb mx-1">
                  <i class="fab fa-facebook-f"> </i>
                </a>
              </li>
              <li class="list-inline-item icons" style="margin-left: 4%;">
                <a class="btn-floating btn-tw mx-1">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
            </ul>
            <!-- Social buttons -->
          </div>
        </div>
        <!-- Copyright -->
        <!-- Copyright -->

      </footer>
    </div>
  </div>
  <!-- Footer -->
</div>